@import "fonts";
$main-color: rgb(237, 28, 36);
$break-small: 640px;
$break-large: 1200px;


::selection {
  background: #ffb7b7;
}
::-moz-selection {
  background: #ffb7b7;
}

body {
	overflow: hidden;
}

canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1; 
  top: 0; 
  left: 0; 
  display: none;
}

.home {
	width: 100%;
  height: 100%; 
	top: 0; 
	position: absolute;
  .logo {
    width: 55px;
    position: absolute;
    right: 0; 
    @media screen and (max-width: $break-small) {
      position: relative; 
    }
  }
  .introduction {
    font-family: $font-bold;
    p {
      a {
        color: black;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
  .copyright {
    position: absolute;
    bottom: 0; 
    color: lightgray;
    font-size: small;  
  }
}

.content-container {
	margin: 0 auto;
	background: rgba(186, 186, 186, 0.8);
	.close {
		position: absolute;
		text-shadow: 0 0px 0;
		right: 1.3rem;
	}
}

.fa-times-thin:before {
	content: '\00d7';
}

.work-pop {
	width: 100vw;
	height: 100vh;
  color: orange; 
  html {
    body {
      h1 {
        color: red;
      }
    }
  }
}

.footer {
  font-weight: 700;
  color: gray;
  .nav-link {
    color: gray;
  }
	.nav-work {
		.dropdown {
      font-family: $font-secondary; 
			display: none;
			position: fixed; 
      span:hover {
        color: black; 
      }
      &:hover + canvas {
        display: block;
      }
		}
		&:hover {
			.dropdown {
				display: block;
			}
		}
	}
  i {
    color: lightgray;
  }
  .nav-photo {
    span {
      color: gray; 
      &:hover {
        color: black; 
      }
    }
  }
  .nav-contact {
    .dropdown {
      font-family: $font-secondary;
      display: none; 
      position: fixed; 
      left: 0; 
    }
    &:hover {
      .dropdown {
        display: block;
        background-color: white;
        a {
          color: gray; 
          &:hover {
            color: black; 
          }
        }
      }
    }
  }
}
