@font-face {
  font-family: Avenir-Heavy;
  src: url("../fonts/Avenir-Heavy-05.eot");
  src: url("../fonts/Avenir-Heavy-05.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Heavy-05.woff") format("woff"), url("../fonts/Avenir-Heavy-05.ttf") format("truetype"), url("../fonts/Avenir-Heavy-05.svg#Avenir-Heavy") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: Avenir-Roman;
  src: url("../fonts/Avenir-Roman-12.eot");
  src: url("../fonts/Avenir-Roman-12.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Roman-12.woff") format("woff"), url("../fonts/Avenir-Roman-12.ttf") format("truetype"), url("../fonts/Avenir-Roman-12.svg#Avenir-Roman") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: Avenir-Book;
  src: url("../fonts/Avenir-Book-01.eot");
  src: url("../fonts/Avenir-Book-01.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Book-01.woff") format("woff"), url("../fonts/Avenir-Book-01.ttf") format("truetype"), url("../fonts/Avenir-Book-01.svg#Avenir-Book") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: Avenir-Light;
  src: url("../fonts/Avenir-Light-07.eot");
  src: url("../fonts/Avenir-Light-07.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Light-07.woff") format("woff"), url("../fonts/Avenir-Light-07.ttf") format("truetype"), url("../fonts/Avenir-Light-07.svg#Avenir-Light") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: Avenir-Heavy-Italic;
  src: url("../fonts/Avenir-HeavyOblique-06.eot");
  src: url("../fonts/Avenir-HeavyOblique-06.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-HeavyOblique-06.woff") format("woff"), url("../fonts/Avenir-HeavyOblique-06.ttf") format("truetype"), url("../fonts/Avenir-HeavyOblique-06.svg#Avenir-Heavy-Italic") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: Avenir-Roman-Italic;
  src: url("../fonts/Avenir-Oblique-11.eot");
  src: url("../fonts/Avenir-Oblique-11.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Oblique-11.woff") format("woff"), url("../fonts/Avenir-Oblique-11.ttf") format("truetype"), url("../fonts/Avenir-Oblique-11.svg#Avenir-Roman-Italic") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: Avenir-Book-Italic;
  src: url("../fonts/Avenir-BookOblique-02.eot");
  src: url("../fonts/Avenir-BookOblique-02.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-BookOblique-02.woff") format("woff"), url("../fonts/Avenir-BookOblique-02.ttf") format("truetype"), url("../fonts/Avenir-BookOblique-02.svg#Avenir-Book-Italic") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: Avenir-Light-Italic;
  src: url("../fonts/Avenir-LightOblique-08.eot");
  src: url("../fonts/Avenir-LightOblique-08.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-LightOblique-08.woff") format("woff"), url("../fonts/Avenir-LightOblique-08.ttf") format("truetype"), url("../fonts/Avenir-LightOblique-08.svg#Avenir-Light-Italic") format("svg");
  font-style: normal;
  font-weight: normal; }

::selection {
  background: #ffb7b7; }

::-moz-selection {
  background: #ffb7b7; }

body {
  overflow: hidden; }

canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
  display: none; }

.home {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute; }
  .home .logo {
    width: 55px;
    position: absolute;
    right: 0; }
    @media screen and (max-width: 640px) {
      .home .logo {
        position: relative; } }
  .home .introduction {
    font-family: "Avenir-Heavy", sans-serif; }
    .home .introduction p a {
      color: black; }
      .home .introduction p a:hover {
        color: #ed1c24; }
  .home .copyright {
    position: absolute;
    bottom: 0;
    color: lightgray;
    font-size: small; }

.content-container {
  margin: 0 auto;
  background: rgba(186, 186, 186, 0.8); }
  .content-container .close {
    position: absolute;
    text-shadow: 0 0px 0;
    right: 1.3rem; }

.fa-times-thin:before {
  content: '\00d7'; }

.work-pop {
  width: 100vw;
  height: 100vh;
  color: orange; }
  .work-pop html body h1 {
    color: red; }

.footer {
  font-weight: 700;
  color: gray; }
  .footer .nav-link {
    color: gray; }
  .footer .nav-work .dropdown {
    font-family: "Avenir-Roman", sans-serif;
    display: none;
    position: fixed; }
    .footer .nav-work .dropdown span:hover {
      color: black; }
    .footer .nav-work .dropdown:hover + canvas {
      display: block; }
  .footer .nav-work:hover .dropdown {
    display: block; }
  .footer i {
    color: lightgray; }
  .footer .nav-photo span {
    color: gray; }
    .footer .nav-photo span:hover {
      color: black; }
  .footer .nav-contact .dropdown {
    font-family: "Avenir-Roman", sans-serif;
    display: none;
    position: fixed;
    left: 0; }
  .footer .nav-contact:hover .dropdown {
    display: block;
    background-color: white; }
    .footer .nav-contact:hover .dropdown a {
      color: gray; }
      .footer .nav-contact:hover .dropdown a:hover {
        color: black; }
